div.lineNumber {
  color: rgb(153, 153, 153);
	width: 30px;
}

div.fight {
  line-height: 1.3;
  display: flex;
}

/* fight type */
div.fight.skill {
  color: #3f51b5;
  font-weight: bold;
}

div.fight.critical {
  color: #ff0000;
}

div.fight.special {
  color: #3a67bb;
}

div.fight.strong {
  color: #ff7700;
}